---
layout: default
---

<!-- Page Header -->
  <header class="masthead" style="height:200px; margin-bottom:30px; background-color:#fff !important">
    <div class="overlay" style="background-color:#fff !important"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="post-heading" style="padding:80px 0; color:#000 !important;">
            <h1 style="font-size:40px !important;">{{ page.title }}</h1>
            <h2 class="subheading" style="font-size:22px !important; color:#868e96 !important;">
				{{ page.date | date: '%B %d, %Y' }}
			</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="div_container_post" class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 mx-auto">

        {{ content }}

        <hr>
        <div class="clearfix">
          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; 이전<span class="d-none d-md-inline">
              게시물</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">다음<span class="d-none d-md-inline">
              게시물</span> &rarr;</a>
          {% endif %}
        </div>
		
		<br><br>
		<div id="disqus_thread"></div>
		  <script>
		  /**
		  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		  /*
		  var disqus_config = function () {
		  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
		  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		  };
		  */
		  (function() { // DON'T EDIT BELOW THIS LINE
		  var d = document, s = d.createElement('script');
		  s.src = 'https://jokerldg.disqus.com/embed.js';
		  s.setAttribute('data-timestamp', +new Date());
		  (d.head || d.body).appendChild(s);
		  })();
		  </script>
		  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

		</div>

      </div>
    </div>
  </div>
